@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/base';
@import 'partials/modular-classes';
@import 'partials/header';
@import 'partials/footer';

/**********************
******** Sass *********
**********************/
main { /* homepage */

  h1 {
    text-align: center;
  }

  .inner-content {
    padding: 0 15px;
    position: relative;

    h2 {
      background: $lt-green-op;
      margin: 0 -15px;
      padding: 0 15px;
    }
  }

  .message {
    text-align: center;
    margin: 30px 0;
  }

  .home-box {
    background: $lt-green;
    min-height: 520px;
    border-radius: 3px;

    img {
      padding-right: -15px;
      padding-left: -15px;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      margin-bottom: -25px;
    }

    h2, p {
      color: $navy;
    }

    .tagline {
      @include blurb;
    }
  }

  .side-nav { /*Side Nav*/
    position: relative;
    display: block;

    nav {

      ul {

        &:first-child { /*used this to change bullet color*/
          color: $cornflower;
        }

        li {

          &:first-child { /*Selects first child in side menu*/
            color: $white;
            list-style: none;
            text-transform: uppercase;
            margin-left: -20px;
            margin-top: 25px;
            font-size: 9px;
            font-weight: 700;
          }

          a {
            color: $cornflower;
            font-size: 11px;

            &:hover {
              color: $lt-green;
            }
          }
        }
      }
    }
  }

  .img-content { /*two-column-left content area styling - will actually become three columns*/
    display: block;
    padding: 0 25px;

    img.feature-image {
      display: inline-block;
      float: right;
      padding: 0 0 5px 5px;
    }
  }

  .quote-box {
    position: relative;
    display: block;
    text-align: center;
    float: none;
    clear: both;

    img {
      margin: 0 auto;
    }
  }
}

/**********************
**** Media Queries ****
**********************/

@import 'partials/media-queries';







