/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

    #header {

      #brand {
          display: inline-block;
          margin: 0 0 10px 0;
        }

        .contact {
          margin-top: 40px;
          text-align: right;
        }

        nav.navbar {

          #chn-navbar {

            ul.navbar-nav {

              li {

                :hover {
                    background: $cornflower-op;
                    border-radius: 20px;
                    @include bx-shadow;
                }

                a {
                  color: $white;
                  padding: 10px 15px;
                  @include txt-shadow;
                }

                ul.dropdown-menu {
                  padding: 0;

                  background: $cornflower;
                  border-radius: 3px;
                  border-top-left-radius: 0;

                  :hover {
                    border-radius: 3px;
                    background: $cornflower;
                  }

                  li {

                    :hover {
                      background: $lt-green-op;
                      border-radius: 0;
                      @include bx-shadow;
                    }

                    a {
                      color: $white;
                    }

                  }

                }
              }
            }
            /* This section feels wrong */
            .nav>li>a:focus {
              background: $cornflower-op;
              border-radius: 20px;
            }

            .nav .open>a, .nav>li.dropdown>a:focus { /*selected main nav item for dropdown*/
              background: $cornflower-op;
              border-radius: 0;
              border-top-left-radius: 3px;
              border-top-right-radius: 3px;
            }
            /* This section feels wrong */
          }
        }
      }

      main {
        background: $navy;
        border-top: 4px solid $lt-green;

        h1 {
          text-align: center;
          padding: 0 40px !important;
        }

        .inner-content {
          padding: 0 15px;
          position: relative;

          h2 {
            background: $lt-green-op;
            margin: 0 -15px;
            padding: 0 15px;
          }
        }

        .message {
          text-align: center;
          margin: 30px 0 90px 0;
          padding-left: 50px;
        }

        .home-box {
          background: $lt-green;
          margin-right: 20px;
          min-height: 550px;
          border-radius: 3px;

          img {
            padding-right: -15px;
            padding-left: -15px;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
            margin-bottom: -25px;
          }

          h2, p {
            color: $navy;
          }

          .tagline {
            @include blurb;
          }
        }
      }

      #footer {

        .inner-foot {
          border-top: 1px solid $white;
          padding: 10px 0 90px 0;

          #foot-contact {
            text-align: initial;
          }

          #copyright {
            text-align: right;
          }
        }
      }
    /*}*/
  }

/* Medium devices (desktops, 992px and up) */
/*@media (min-width: 992px) { ... }*/

/* Large devices (large desktops, 1200px and up) */
/*@media (min-width: 1200px) { ... }*/
