$white: #fff;
$blue-black: #333;
$dk-blue: #002157;
$navy:  #373477;
$cornflower: rgb(103, 118, 173); /*#6776ad*/
$cornflower-op: rgba(103, 118, 173, 0.5); /*#6776ad*/
$lt-blue: #b0daff;
$lt-green: rgb(187, 203, 114); /*#bbcb73*/
$lt-green-op: rgba(187, 203, 114, 0.5); /*#bbcb73*/
