/* ==========================================================================
   Variables
   Non-Bootstrap, site specific variables
   ========================================================================== */
/* Typography */
/* Fonts */
/* Colors */
/*#6776ad*/
/*#6776ad*/
/*#bbcb73*/
/*#bbcb73*/
/* ==========================================================================
   BASE
   - Styles for default base elements
   - Boostrap grid overrides
   ========================================================================== */
/* line 8, ../sass/partials/_base.scss */
body {
  font-family: Helvetica, Verdana, Arial;
  font-size: 14px;
  line-height: 1.6;
  color: #fff;
  background: #373477;
}

/* line 16, ../sass/partials/_base.scss */
a {
  color: #b0daff;
  text-decoration: none;
}
/* line 19, ../sass/partials/_base.scss */
a:hover {
  color: #bbcb72;
  text-decoration: none;
}

/* line 29, ../sass/partials/_base.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  font-style: italic;
  font-weight: 700;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 12px;
}

/* line 37, ../sass/partials/_base.scss */
h1 {
  font-size: 20px;
}

/* line 38, ../sass/partials/_base.scss */
h2 {
  font-size: 18px;
}

/* line 49, ../sass/partials/_base.scss */
button.btn {
  color: #fff;
  background: #002157;
  width: 150px;
  border: 1px solid #fff;
  border-radius: 20px;
  text-transform: uppercase;
  text-shadow: 4px 4px 15px rgba(0, 0, 0, 0.7);
  box-shadow: 4px 3px 15px rgba(0, 0, 0, 0.2);
  font-size: 8px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 10px;
}
/* line 63, ../sass/partials/_base.scss */
button.btn:hover {
  background: rgba(103, 118, 173, 0.5);
  color: #fff;
  border: 1px solid #373477;
}

/* Bootstrap Overrides */
/* line 72, ../sass/partials/_base.scss */
.container-fluid {
  padding: 0;
}

/* line 73, ../sass/partials/_base.scss */
[class*="col"] {
  padding: 0;
}

/* line 74, ../sass/partials/_base.scss */
.row {
  margin: 0;
}

/* line 1, ../sass/partials/_modular-classes.scss */
.quote-box {
  background: #bbcb72;
  color: #373477;
  margin: 20px 0 0 45px;
  padding: 15px;
  border-radius: 3px;
}

/* line 9, ../sass/partials/_modular-classes.scss */
.quote, .sig {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  font-style: italic;
  line-height: 1.6em;
}

/* line 16, ../sass/partials/_modular-classes.scss */
.sig {
  font-weight: 700;
}

/* line 1, ../sass/partials/_header.scss */
#header {
  background: #002157;
  border-bottom: 4px solid #bbcb72;
}
/* line 5, ../sass/partials/_header.scss */
#header #brand {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
/* line 11, ../sass/partials/_header.scss */
#header .contact {
  text-align: center;
}
/* line 17, ../sass/partials/_header.scss */
#header nav.navbar .navbar-header {
  /* navbar toggle button */
}
/* line 19, ../sass/partials/_header.scss */
#header nav.navbar .navbar-header button.navbar-toggle {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  background: #373477;
  box-shadow: 4px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 10px;
  float: none;
}
/* line 29, ../sass/partials/_header.scss */
#header nav.navbar .navbar-header button.navbar-toggle .icon-bar {
  background: #fff;
}
/* line 35, ../sass/partials/_header.scss */
#header nav.navbar #chn-navbar {
  /*weird jump, may not be right selector to target, was .navbar-collapse*/
  margin-top: 20px;
}
/* line 38, ../sass/partials/_header.scss */
#header nav.navbar #chn-navbar ul.navbar-nav {
  margin: 0;
}
/* line 43, ../sass/partials/_header.scss */
#header nav.navbar #chn-navbar ul.navbar-nav li :hover {
  background: rgba(103, 118, 173, 0.5);
  box-shadow: 4px 3px 15px rgba(0, 0, 0, 0.2);
}
/* line 48, ../sass/partials/_header.scss */
#header nav.navbar #chn-navbar ul.navbar-nav li a {
  color: #fff;
  padding: 10px 15px;
  text-shadow: 4px 4px 15px rgba(0, 0, 0, 0.7);
  text-align: center;
}

/*---- Media Query ----*/
@media (min-width: 768px) {
  /* line 65, ../sass/partials/_header.scss */
  #header #brand {
    display: inline-block;
    margin: 0 0 10px 0;
  }
  /* line 70, ../sass/partials/_header.scss */
  #header .contact {
    margin-top: 40px;
    text-align: right;
  }
  /* line 77, ../sass/partials/_header.scss */
  #header nav.navbar #chn-navbar {
    /* This section feels wrong */
    /* This section feels wrong */
  }
  /* line 83, ../sass/partials/_header.scss */
  #header nav.navbar #chn-navbar ul.navbar-nav li :hover {
    background: rgba(103, 118, 173, 0.5);
    border-radius: 20px;
    box-shadow: 4px 3px 15px rgba(0, 0, 0, 0.2);
  }
  /* line 89, ../sass/partials/_header.scss */
  #header nav.navbar #chn-navbar ul.navbar-nav li a {
    color: #fff;
    padding: 10px 15px;
    text-shadow: 4px 4px 15px rgba(0, 0, 0, 0.7);
  }
  /* line 95, ../sass/partials/_header.scss */
  #header nav.navbar #chn-navbar ul.navbar-nav li ul.dropdown-menu {
    padding: 0;
    background: #6776ad;
    border-radius: 3px;
    border-top-left-radius: 0;
  }
  /* line 102, ../sass/partials/_header.scss */
  #header nav.navbar #chn-navbar ul.navbar-nav li ul.dropdown-menu :hover {
    border-radius: 3px;
    background: #6776ad;
  }
  /* line 109, ../sass/partials/_header.scss */
  #header nav.navbar #chn-navbar ul.navbar-nav li ul.dropdown-menu li :hover {
    background: rgba(187, 203, 114, 0.5);
    border-radius: 0;
    box-shadow: 4px 3px 15px rgba(0, 0, 0, 0.2);
  }
  /* line 115, ../sass/partials/_header.scss */
  #header nav.navbar #chn-navbar ul.navbar-nav li ul.dropdown-menu li a {
    color: #fff;
  }
  /* line 123, ../sass/partials/_header.scss */
  #header nav.navbar #chn-navbar .nav > li > a:focus {
    background: rgba(103, 118, 173, 0.5);
    border-radius: 20px;
  }
  /* line 128, ../sass/partials/_header.scss */
  #header nav.navbar #chn-navbar .nav .open > a, #header nav.navbar #chn-navbar .nav > li.dropdown > a:focus {
    /*selected main nav item for dropdown*/
    background: rgba(103, 118, 173, 0.5);
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
}
/* line 1, ../sass/partials/_footer.scss */
#footer {
  margin-top: 20px;
}
/* line 4, ../sass/partials/_footer.scss */
#footer .inner-foot {
  border-top: 1px solid #fff;
  padding: 10px 0 90px 0;
}
/* line 8, ../sass/partials/_footer.scss */
#footer .inner-foot #foot-contact,
#footer .inner-foot #copyright {
  text-align: center;
}

/*------ Media Query -------*/
@media (min-width: 768px) {
  /* line 18, ../sass/partials/_footer.scss */
  #footer .inner-foot {
    border-top: 1px solid #fff;
    padding: 10px 0 90px 0;
  }
  /* line 22, ../sass/partials/_footer.scss */
  #footer .inner-foot #foot-contact {
    text-align: initial;
  }
  /* line 26, ../sass/partials/_footer.scss */
  #footer .inner-foot #copyright {
    text-align: right;
  }
}
/**********************
******** Sass *********
**********************/
/* line 11, ../sass/styles.scss */
main {
  /* homepage */
}
/* line 13, ../sass/styles.scss */
main h1 {
  text-align: center;
}
/* line 17, ../sass/styles.scss */
main .inner-content {
  padding: 0 15px;
  position: relative;
}
/* line 21, ../sass/styles.scss */
main .inner-content h2 {
  background: rgba(187, 203, 114, 0.5);
  margin: 0 -15px;
  padding: 0 15px;
}
/* line 28, ../sass/styles.scss */
main .message {
  text-align: center;
  margin: 30px 0;
}
/* line 33, ../sass/styles.scss */
main .home-box {
  background: #bbcb72;
  min-height: 520px;
  border-radius: 3px;
}
/* line 38, ../sass/styles.scss */
main .home-box img {
  padding-right: -15px;
  padding-left: -15px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  margin-bottom: -25px;
}
/* line 46, ../sass/styles.scss */
main .home-box h2, main .home-box p {
  color: #373477;
}
/* line 50, ../sass/styles.scss */
main .home-box .tagline {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  font-style: italic;
  line-height: 1.6em;
  color: #373477;
  font-style: normal;
  font-weight: 700;
}
/* line 55, ../sass/styles.scss */
main .side-nav {
  /*Side Nav*/
  position: relative;
  display: block;
}
/* line 63, ../sass/styles.scss */
main .side-nav nav ul:first-child {
  /*used this to change bullet color*/
  color: #6776ad;
}
/* line 69, ../sass/styles.scss */
main .side-nav nav ul li:first-child {
  /*Selects first child in side menu*/
  color: #fff;
  list-style: none;
  text-transform: uppercase;
  margin-left: -20px;
  margin-top: 25px;
  font-size: 9px;
  font-weight: 700;
}
/* line 79, ../sass/styles.scss */
main .side-nav nav ul li a {
  color: #6776ad;
  font-size: 11px;
}
/* line 83, ../sass/styles.scss */
main .side-nav nav ul li a:hover {
  color: #bbcb72;
}
/* line 92, ../sass/styles.scss */
main .img-content {
  /*two-column-left content area styling - will actually become three columns*/
  display: block;
  padding: 0 25px;
}
/* line 96, ../sass/styles.scss */
main .img-content img.feature-image {
  display: inline-block;
  float: right;
  padding: 0 0 5px 5px;
}
/* line 103, ../sass/styles.scss */
main .quote-box {
  position: relative;
  display: block;
  text-align: center;
  float: none;
  margin: 0 auto;
  clear: both;
}
/* line 111, ../sass/styles.scss */
main .quote-box img {
  margin: 0 auto;
}

/**********************
**** Media Queries ****
**********************/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* line 7, ../sass/partials/_media-queries.scss */
  main {
    background: #373477;
  }
  /* line 10, ../sass/partials/_media-queries.scss */
  main h1 {
    text-align: center;
    padding: 0 40px !important;
  }
  /* line 15, ../sass/partials/_media-queries.scss */
  main .inner-content {
    padding: 0 15px;
    position: relative;
  }
  /* line 19, ../sass/partials/_media-queries.scss */
  main .inner-content h2 {
    background: rgba(187, 203, 114, 0.5);
    margin: 0 -15px;
    padding: 0 15px;
  }
  /* line 26, ../sass/partials/_media-queries.scss */
  main .message {
    text-align: center;
    margin: 30px 0 90px 0;
    padding-left: 50px;
  }
  /* line 32, ../sass/partials/_media-queries.scss */
  main .home-box {
    background: #bbcb72;
    margin-right: 20px;
    min-height: 550px;
    border-radius: 3px;
  }
  /* line 38, ../sass/partials/_media-queries.scss */
  main .home-box img {
    padding-right: -15px;
    padding-left: -15px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    margin-bottom: -25px;
  }
  /* line 46, ../sass/partials/_media-queries.scss */
  main .home-box h2, main .home-box p {
    color: #373477;
  }
  /* line 50, ../sass/partials/_media-queries.scss */
  main .home-box .tagline {
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-style: italic;
    line-height: 1.6em;
    color: #373477;
    font-style: normal;
    font-weight: 700;
  }
  /* line 55, ../sass/partials/_media-queries.scss */
  main .side-nav {
    display: inline-block;
    text-align: left;
  }
  /* line 60, ../sass/partials/_media-queries.scss */
  main .img-content {
    /*two-column-left content area styling - will actually become three columns*/
    display: inline-block;
    padding: 0;
  }
  /* line 65, ../sass/partials/_media-queries.scss */
  main .quote-box {
    display: inline-block;
    text-align: left;
    margin: 20px 0 0 45px;
    clear: none;
  }
}
/* Medium devices (desktops, 992px and up) */
/*@media (min-width: 992px) { ... }*/
/* Large devices (large desktops, 1200px and up) */
/*@media (min-width: 1200px) { ... }*/
